.alert {
	background-color: red;
	padding: 1rem;
}



.linkthumbnail {
	max-height: 200px;
}

h4 a {
	color: #000;
}
.linkbox {
	border: 1px solid #ccc;
	overflow: hidden;
}

.infolink {
	padding-left: 5px;
	color: red;
}