.alert {
	background-color: red;
	padding: 1rem;
}

.linkthumbnail {
	height: 230px;
	object-fit: cover;
	width: 306px;
}

h4 a {
	color: #000;
}
.linkbox {
	border: 1px solid #ccc;
	overflow: hidden;
}

.infolink {
	padding-left: 5px;
	color: red;
}

.card {
	border-top: 1px solid #cccccc;
}

/* overwrites */
.section {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.column {
	padding: .5rem;
}
