# This is the database configuration for Insipid.
dbname = insipid_luke
dbuser = luke
dbpass = dbpass
dbhost = 127.0.0.1

# If you'd like the Insipid database tables to use a prefix, uncomment
# this line.
#dbprefix = insipid_

# The base URI to your installation.
pagepath = /Luke

# If your webserver is not running on port 80 and it doesn't properly set
# the SERVER_PORT variable, set it here.
#server_port = 8080

# The login name and password for using the Insipid interface.
username = luke
userpass = yourpassword

# use phantomjs to create screenshots for a bookmark
usePhantomjs = 0;
phantomPath = "./path/to/phantomjs/bin/phantomjs"
